.Home {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home .Post {
    
   
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 50px;
    width:30%;
}

.Home .Post .Image{
  
   background-color: white;
}

.Home .Post .Image img {
    width: 100%;
}

.Home .Post .Content{
    
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    
}

.Home .Post .Content .title {
    flex: 30%;
    text-align: center;
    font-size: 20px;
}

.Home .Post .Content .description {
    flex: 50%;
    text-align: center;
    padding-bottom: 60px;
    border-top: solid 1px black;
}

.Home .Post .Engagement {
    flex: 20%;
    display: grid;
    place-items: center;
}
.Home .Post .Engagement #icon {
    font-size: 40px;
     color: grey;

}
.Home .Post .Engagement #icon:hover{
    cursor: pointer;
}
.Home .Post .Engagement #icon:active{
    color: black;

}
.trash {
    font-size: 20px;
    position: absolute ;
    
      color: #f57251;
      transition: .3s;
    &:hover {
      color: red;
      transition: .3s;
      cursor: pointer;
    }

    
}
@media screen and (max-width:375px) {
.Navbar {
    display : flex;
    flex-flow: wrap;
}

}
@media screen and (max-width:600px) {


}
@media screen and (max-width:801px) {



}


@media screen and (max-width: 1080px) {
    .little-logo {
        display: none;
    }
    
    

.Home .Post {
    width: auto;
    margin: 10%
}
}